//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    macros {
        net_macro1: net_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ARROW &kp LEFT_ARROW &kp N0 &kp ENTER>;
            label = "NET_MACRO";
        };

        net_macro2: net_macro2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ARROW &kp N0 &kp N0 &kp ENTER>;
            label = "NET_MACRO2";
        };

        Log: Log {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &kp L &kp D &kp M &kp D &kp D &kp L>;
            label = "LOG";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Totem {
            display-name = "Totem";
            bindings = <
           &kp Q        &kp W        &kp E       &kp R        &kp T          &kp Y            &kp U       &kp I          &kp O        &kp P
           &hm LCTRL A  &hm LCTRL S  &hm LWIN D  &hm LALT F   &kp G          &kp H            &hm RALT J  &hm LWIN K     &hm RCTRL L  &hm RSHFT SEMICOLON
&kp LSHFT  &kp Z        &kp X        &kp C       &kp V        &kp B          &kp N            &kp M       &kp COMMA      &kp DOT      &kp SLASH            &kp RSHFT
                                     &lt 4 TAB   &lt 1 SPACE  &lt 1 ENTER    &lt 3 BACKSPACE  &kp SPACE   &kp LS(SPACE)
            >;
        };

        Function {
            display-name = "Function";
            bindings = <
           &kp F1  &kp F2   &kp F3   &kp F4   &kp K_MUTE           &trans          &trans     &trans     &trans             &trans
           &kp F5  &kp F6   &kp F7   &kp F8   &kp C_VOLUME_UP      &kp MINUS       &kp PLUS   &kp SQT    &kp DOUBLE_QUOTES  &kp COLON
&kp LSHFT  &kp F9  &kp F10  &kp F11  &kp F12  &kp C_VOLUME_DOWN    &kp UNDERSCORE  &kp EQUAL  &kp COMMA  &kp PERIOD         &kp SLASH  &kp RSHFT
                            &trans   &trans   &trans               &trans          &trans     &kp DOT
            >;
        };

        Numpad {
            display-name = "Numpad";
            bindings = <
           &kp TILDE  &kp LC(W)       &kp UP_ARROW    &kp LC(R)        &kp LC(T)        &kp N7         &kp N8        &kp N9        &kp MINUS       &kp PLUS
           &kp LC(A)  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp LC(F)        &kp NUMBER_4   &kp N5        &kp NUMBER_6  &kp UNDERSCORE  &kp COLON
&kp LSHFT  &kp LC(Z)  &kp LC(X)       &kp LC(C)       &kp LC(V)        &kp C_AC_HOME    &kp NUMBER_1   &kp NUMBER_2  &kp NUMBER_3  &kp EQUAL       &kp SLASH  &kp RSHFT
                                      &Log            &net_macro1      &trans           &kp BACKSPACE  &kp N0        &kp PERIOD
            >;
        };

        Special {
            display-name = "Special";
            bindings = <
           &kp EXCLAMATION  &kp AT_SIGN  &kp HASH       &kp DOLLAR      &kp PERCENT             &kp CARET              &kp AMPERSAND    &kp UP_ARROW      &kp ASTERISK     &kp DOUBLE_QUOTES
           &kp TILDE        &trans       &trans         &trans          &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp LEFT_ARROW   &kp DOWN_ARROW    &kp RIGHT_ARROW  &kp SQT
&kp LSHFT  &kp GRAVE        &trans       &kp LESS_THAN  &kp LEFT_BRACE  &kp LEFT_BRACKET        &kp RIGHT_BRACKET      &kp RIGHT_BRACE  &kp GREATER_THAN  &trans           &kp QUESTION       &kp RSHFT
                                         &kp LEFT_GUI   &kp SPACE       &kp ENTER               &trans                 &kp LEFT_ARROW   &kp RIGHT_ARROW
            >;
        };

        Shortcut {
            display-name = "Shortcut";
            bindings = <
                        &kp LG(NUMBER_1)  &kp LG(NUMBER_2)  &kp LG(NUMBER_3)  &kp LG(NUMBER_4)  &kp LG(N5)           &trans         &trans  &trans  &trans  &trans
                        &kp LA(LC(A))     &kp LA(LC(S))     &kp LA(LC(D))     &kp LA(LC(F))     &kp LC(LA(G))        &trans         &trans  &trans  &trans  &trans
&kp LS(LA(LC(ESCAPE)))  &kp Z             &kp LA(LC(X))     &kp LA(LC(C))     &kp LA(LC(V))     &kp LA(LC(B))        &kp LA(LC(N))  &trans  &trans  &trans  &trans  &trans
                                                            &trans            &kp LGUI          &kp LS(LA(LC(A)))    &trans         &trans  &trans
            >;
        };

        Gaming+ {
            display-name = "Game+";
            bindings = <
        &kp F10  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp T     &kp RA(RC(Y))  &kp RA(RC(U))  &trans  &trans  &kp LC(RA(DEL))
        &kp L    &kp O         &kp Y         &kp K         &kp G     &kp F5         &trans         &trans  &trans  &trans
&trans  &to 0    &trans        &trans        &trans        &trans    &trans         &trans         &trans  &trans  &trans           &kp LA(F4)
                               &kp J         &kp I         &kp M     &trans         &trans         &trans
            >;
        };
    };
};
